.reset{
    display: flex;
    width: 81%;
    flex-direction: column !important;
    transition: all ease .5s;
    h1{
        text-align: center;
        font-size: 2.2rem;
        font-family: "Lato",serif;
    }
    div{
        display: flex;
        flex-direction: row !important;
        span{
            width: 100%;
            color: #fff;
            margin: 2%;
            img{
                width: 70%;
            }
            h4{
                text-align: center;
                margin: 4%;
                font-size: 1.5rem;
                font-family:"Raleway",serif;
            }
            input{
                width: 85%;
                margin-left: 2%;
                outline: none;
                border: 2px solid #ffe;
                margin-bottom: 2%;
                height: 7vh;
                font-size: 3vh;
                font-family: "Rubik",sans-serif;
                font-weight: 800;
                caret-color: red;
                transition: all ease .3s;
                border-radius: 3px;

                &:hover{
                    width: 92%;
                }
            }
            button{
                width: 30%;
                height: 12%;
                background: #f95738;
                color: #fff;
                margin-bottom: 2%;
                border-radius: 5px;
                border: 2px solid #f95738;
                cursor: pointer;
                transition: all ease .3s;
                font-size: 2.5vh;
                &:hover{
                    background-color: #0d3b66;
                    color: #ffdffd;
                    width: 35%;
                    border-color: #0d3b66;
                }
            }

            &:nth-child(2){
                border: 3px solid #7209b7;
                background-color: #7209b7;
                border-radius: 10px;
                padding: 1%;
            }
        }
    }
}

.side{
    width: 100%;
}