.reviews{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    width: 100%;
    h2{
        text-align: center;
        font-family: "Poppins",sans-serif;
        font-size: 1.8rem;
        .header{
            color: #8a00d4;
            cursor: pointer;
        }
    }
    .card{
        border: 2px solid #e3e3e3;
        width: 50% !important;
        margin-bottom: 2%;
        border-radius: 10px;
        padding: 10px;
        .stars{
            display: flex;
            flex-direction: row !important;
            justify-content: center;
            span{
                font-size: 40px !important;
            }
            &:hover{
                background-color: #fff;
            }
        }
        p,b{
            text-align: right;
            margin: 5px;
            font-size: 1.1rem;
            .icon{
                margin: 0 10px;
                cursor: pointer;
                transition: all ease .3s;
                &:hover{
                    color: #8a00d4;
                    &:nth-child(2){
                        color: #e93342;
                    }
                }
            }
        }
        b{
            margin: 15px;
            text-align: center;
        }
        h3{
            margin: 10px;
            font-size: 1.6rem;
            text-align:center;
            font-family: "Inter",sans-serif;
        }
        h5{
            font-size: 1.3rem;
            margin: 7.5px;
            text-align:center;
        }
        span{
            display:flex;
            flex-direction: row;
            .icons{
                cursor: pointer;
                font-size: 1.6rem;
                color: #ffefff;
                padding: 1%;
                background-color: #001;
                transition: all ease .3s;
                &:hover{
                    background-color: #ffffff;
                    color: #e93342;
                }
                &:nth-child(2){
                    &:hover{
                        background-color: #ffffff;
                        color: #1eb437;
                    }
                }
            }
            .like{
                background-color: #fff;
                color: #1eb437;
            }
            .dislike{
                background-color: #fff;
                color: #e93342;
            }
        }
    }
}